@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: scroll; /* 불필요한 스크롤 방지 */
}

body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: row;
    flex-grow: 1; /* body의 남은 공간을 차지하도록 설정 */
    width: 100%;
    min-width: 100vh; /* 또는 min-height: 100vh; */
}

.etc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dash_board{
    width: 100%;
    height: 100%;
    background-color: rgb(246, 246, 246);
}
.contents{
    flex-grow: 1;
    height: 100%;
    margin: 2%;
}
.top-contents-container{
    display: flex;
    justify-items:space-between;
    height: 14%;
    margin-bottom: 2%;
    gap: 0 2%;
}
.top-contents{
    height: 100%;
    width: 23.5%;
    display: flex;
    border-radius: 10px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}
.top-contents-img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 10%;
}
.page-title{
    display: flex;
    justify-content: left;
    padding-bottom: 1%;
}
.middle-contents-container{
    display: flex;
    height: 42%;
    justify-content: space-between;
    gap: 0 2%;
}
.middle-contents-1{
    flex:1;
    border-radius: 10px;
    background-color: white;
}
.middle-contents-2{
    flex:1;
    border-radius: 10px;
    background-color: white;
}
.bottom-contents-container{
    height: 28%;
    display: flex;
    padding-top: 2%;
    justify-content: space-between;
    gap: 0 2%;
}
.bottom-contents-1{
    width: 30%;
    height: 84%;
    
    border-radius: 10px;
    background-color: white;
}
.bottom-contents-2{
    border-radius: 10px;
    width: 42.5%;
    height: 84%;
 
    background-color: white;
}
.bottom-contents-3{
    border-radius: 10px;
    width: 23.5%;
    height: 84%;
    
    background-color: white;
}

.info{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0 20px;
}
.info-button{
    border: none;
    background-color: rgb(246, 246, 246);
    cursor: pointer;
}
.info-img{
    height: 20px;
    width: 20px;
}
.info-button:hover .info-img{
    filter: brightness(0) saturate(100%) invert(32%) sepia(94%) saturate(2173%) hue-rotate(201deg);
}
.side_bar{
    width: 12%;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    justify-content: center; /* 세로 중앙 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
   
}
.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.main-title{
    padding: 30px;
    text-align: center;
    text-justify: auto;
    color:blue;
    font-weight: bold;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: white;
    padding: 5px;
    text-align: left;
    border-radius: 5px;
    border: none; 
    cursor: pointer;
    color: rgb(145, 144, 144);
    height: 40px;
    
}
.menu-item:hover{
    background: rgb(198, 213, 245);
    color:blue;
}

.menu-text{
    position: relative;
    left:10px;
}
.menu-img{
    height: 20px;
    width: 20px;
}

/*
.search-container input{
    width: 100%;
    background-color: rgb(220, 214, 248);
    border: none;
    padding: 10px 12px;
    font-size: 14px;
    margin: 10px;
}*/

.search{
    width: 50%;
    gap: 0 10px;
}

.search-img{
    padding:15px;
    width: 20px;
    height: 20px;
}
.search-container{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
    margin-top: 20px;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(220, 214, 248);
}
.user{
    display: flex;
    align-items: center;
    gap: 0 10px;
    padding-right: 30px;
}
.user-img{
    height: 40px;
    width: 40px;
    border-radius: 80%;
}
.sns{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.inputList{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputList input{
    color: black;
    margin-left:  15px;
    width: 50%;
    height: 30px;
    font-size: 15px;
    outline: none;
    background-color: white;
    border : 1px solid rgb(220, 214, 248);
}
.inputList button{
    display: flex;
    width: 30px;
    height: 30px;
    border: none;
    background: rgb(246, 246, 246);
    cursor: pointer;
    padding: 0; /*자동설정 1 6?*/
    
    
}
.check-img{
    width: 30px;
    height: 30px;
    background-color: rgb(220, 214, 248);
    padding: 0;
}
.completedTask{
    overflow: scroll;
    width: 80%; 
    max-height: 300px; 
    overflow-y: auto; /* 스크롤 가능하게 설정 */
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    
}
.completedTask li{
    width: 90%;
    list-style: none;
    line-height: 40px;
    position: relative;
    margin: 9px;
    text-indent: 15px;
    background:white;
    color: black; /* Make text visible */
    border-radius: 3px;
    font-weight: 400;
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid rgb(220, 214, 248);
}
.Todolist {
    width: 80%; 
    max-height: 300px; 
    overflow: scroll; 
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.Todolist li {
    position: relative;
    width: 90%;
    list-style: none;
    line-height: 40px;
    position: relative;
    margin: 9px;
    text-indent: 15px;
    background-color: white;
    color: black; 
    font-weight: 400;
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid rgb(220, 214, 248);
    border-radius: 3px;
}
.Todolist li:hover::after {
    content: attr(data-id); 
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 25px;
    background: rgb(220, 214, 248);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
}
.flush{
    font-weight: 600;
    text-indent: 15px;
    display: flex;
    width: 50%;
    cursor: pointer;
    justify-content: left;
}
.flush i {
    font-size: 30px; /* 아이콘 크기 조정 */
    width: auto;
    height: 30px;
    color: black;  
    margin-left: 5px;
}

.del-button{
    font-size: 20px;
    border: none;
    float: right;
    right: 17px;
    margin-top: 10px;
    cursor: pointer;
    position:relative;
    border: 1px solid rgb(220, 214, 248);
    background-color: white;
    margin-right: 5px;
}

.check-button {
    font-size: 20px;
    border: none;
    float: right;
    right: 17px;
    margin-top: 10px;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
    border: 1px solid rgb(220, 214, 248);
    background-color: white;
}
.edit-button {
    font-size: 20px;
    border: none;
    float: right;
    right: 17px;
    margin-top: 10px;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
    border: 1px solid rgb(220, 214, 248);
    background-color: white;
}
.edit-button::before {
    content: "\f044"; 
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: black;
}
.edit-input{
    color: black;
    margin-left:  15px;
    width: 50%;
    height: 30px;
    border: black;
    border-color: black;
    font-size: 15px;
    outline: none;
    background-color: rgb(220, 214, 248);
}
.del-button::before {
    content: "\f2ed"; 
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 20px;
    color: black;
}

.check-button::before {
    content: "\f00c"; 
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 20px;
    color: black;
}

.completed {
    color: gray;
    text-decoration: line-through;
    font-style: italic;
}
.time {
    font-size: 12px;
    color: gray;
    margin-left: 5px;
}
